DATABASE_URL=
JWT_SECRET=
TWITCH_CHANNEL=
ADMINS=nick1,nick2
FRONTEND_URL=http://localhost:5173
AUTH_CODE_TTL_MS=15000
CHAT_COOLDOWN_SECONDS=2
VOTING_DURATION_SECONDS=60
OPEN_CHARACTERISTIC_DURATION_SECONDS=30
